# dependencies
/node_modules
/.pnp
.pnp.js
.idea/

# testing
/coverage

# stats files
stats.chunks.json

# production
/build
dist
stats.json

# misc
.DS_Store
.VSCODE
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
